#                                     ASSESSMENT PROJECT TO ANAYLYSE LOAN DATA


# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load Data

In [3]:
loan=pd.read_excel('loan-data.xlsX')

#      Understanding Data

In [36]:
loan.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'purpose', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'repay_fail'],
      dtype='object')

In [37]:
loan.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,...,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,repay_fail
0,2,2,2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,...,1.0,0.000000,0.00,0.00,0.00,2023-01-07,0.00,2023-01-07,2023-01-07,1
1,3,545583,703644,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,...,10.0,3075.291779,3075.29,2500.00,575.29,2023-07-13,90.85,2023-08-13,2023-06-16,0
2,4,532101,687836,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,...,15.0,2948.760000,2948.76,1909.02,873.81,2023-11-11,175.67,NaT,2023-03-12,1
3,5,877788,1092507,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,...,20.0,8082.391880,8082.39,7000.00,1082.39,2023-03-14,1550.27,NaT,2023-03-14,0
4,6,875406,1089981,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,...,15.0,2161.663244,2161.66,2000.00,161.66,2023-02-14,53.12,NaT,2023-06-16,0

# Checking missing values

In [38]:
loan.isnull().sum()

Unnamed: 0                    0
id                            0
member_id                     0
loan_amnt                     1
funded_amnt                   1
funded_amnt_inv               1
term                          0
int_rate                      0
installment                   1
emp_length                  993
home_ownership                0
annual_inc                    2
verification_status           0
issue_d                       0
loan_status                   0
purpose                       0
zip_code                      0
addr_state                    0
dti                           0
delinq_2yrs                   1
earliest_cr_line              0
inq_last_6mths                1
mths_since_last_delinq    24363
open_acc                      1
pub_rec                       1
revol_bal                     4
revol_util                   59
total_acc                     1
total_pymnt                   1
total_pymnt_inv               1
total_rec_prncp               1
total_rec_int                 1
last_pymnt_d                 71
last_pymnt_amnt               1
next_pymnt_d              35097
last_credit_pull_d            3
repay_fail                    0
dtype: int64

In [39]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38480 entries, 0 to 38479
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              38480 non-null  int64
 1   id                      38480 non-null  int64
 2   member_id               38480 non-null  int64
 3   loan_amnt               38479 non-null  float64
 4   funded_amnt             38479 non-null  float64
 5   funded_amnt_inv         38479 non-null  float64
 6   term                    38480 non-null  object
 7   int_rate                38480 non-null  float64
 8   installment             38479 non-null  float64
 9   emp_length              37487 non-null  object
 10  home_ownership          38480 non-null  object
 11  annual_inc              38478 non-null  float64
 12  verification_status     38480 non-null  object
 13  issue_d                 38480 non-null  datetime64[ns]
 14  loan_status             38480 non-null  object
 15  purpose                 38480 non-null  object
 16  zip_code                38480 non-null  object
 17  addr_state              38480 non-null  object
 18  dti                     38480 non-null  float64
 19  delinq_2yrs             38479 non-null  float64
 20  earliest_cr_line        38480 non-null  datetime64[ns]
 21  inq_last_6mths          38479 non-null  float64
 22  mths_since_last_delinq  14117 non-null  float64
 23  open_acc                38479 non-null  float64
 24  pub_rec                 38479 non-null  float64
 25  revol_bal               38476 non-null  float64
 26  revol_util              38421 non-null  object
 27  total_acc               38479 non-null  float64
 28  total_pymnt             38479 non-null  float64
 29  total_pymnt_inv         38479 non-null  float64
 30  total_rec_prncp         38479 non-null  float64
 31  total_rec_int           38479 non-null  float64
 32  last_pymnt_d            38409 non-null  datetime64[ns]
 33  last_pymnt_amnt         38479 non-null  float64
 34  next_pymnt_d            3383 non-null   datetime64[ns]
 35  last_credit_pull_d      38477 non-null  datetime64[ns]
 36  repay_fail              38480 non-null  int64
dtypes: datetime64[ns](5), float64(19), int64(4), object(9)
memory usage: 10.9+ MB

# Clean Unnecessary Columns

In [48]:
columns_to_drop = ['Unnamed: 0', 'id', 'member_id', 'funded_amnt_inv',
                   'verification_status', 'issue_d', 'last_pymnt_d', 'next_pymnt_d',
                   'last_credit_pull_d', 'repay_fail', 'zip_code', 'addr_state']


loan_dropped = loan.drop(columns=columns_to_drop)

In [49]:
loan_dropped['term'].unique()

array(['36 months', '60 months'], dtype=object)

In [50]:
loan_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38480 entries, 0 to 38479
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_amnt               38479 non-null  float64
 1   funded_amnt             38479 non-null  float64
 2   term                    38480 non-null  object
 3   int_rate                38480 non-null  float64
 4   installment             38479 non-null  float64
 5   emp_length              37487 non-null  object
 6   home_ownership          38480 non-null  object
 7   annual_inc              38478 non-null  float64
 8   loan_status             38480 non-null  object
 9   purpose                 38480 non-null  object
 10  dti                     38480 non-null  float64
 11  delinq_2yrs             38479 non-null  float64
 12  earliest_cr_line        38480 non-null  datetime64[ns]
 13  inq_last_6mths          38479 non-null  float64
 14  mths_since_last_delinq  14117 non-null  float64
 15  open_acc                38479 non-null  float64
 16  pub_rec                 38479 non-null  float64
 17  revol_bal               38476 non-null  float64
 18  revol_util              38421 non-null  object
 19  total_acc               38479 non-null  float64
 20  total_pymnt             38479 non-null  float64
 21  total_pymnt_inv         38479 non-null  float64
 22  total_rec_prncp         38479 non-null  float64
 23  total_rec_int           38479 non-null  float64
 24  last_pymnt_amnt         38479 non-null  float64
dtypes: datetime64[ns](1), float64(18), object(6)
memory usage: 7.3+ MB

In [51]:
# car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')
loan_dropped['term']=loan_dropped['term'].str.split().str.get(0)

In [52]:
loan_dropped['term']=loan_dropped['term'].astype(int)

In [53]:
loan_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38480 entries, 0 to 38479
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_amnt               38479 non-null  float64
 1   funded_amnt             38479 non-null  float64
 2   term                    38480 non-null  int32
 3   int_rate                38480 non-null  float64
 4   installment             38479 non-null  float64
 5   emp_length              37487 non-null  object
 6   home_ownership          38480 non-null  object
 7   annual_inc              38478 non-null  float64
 8   loan_status             38480 non-null  object
 9   purpose                 38480 non-null  object
 10  dti                     38480 non-null  float64
 11  delinq_2yrs             38479 non-null  float64
 12  earliest_cr_line        38480 non-null  datetime64[ns]
 13  inq_last_6mths          38479 non-null  float64
 14  mths_since_last_delinq  14117 non-null  float64
 15  open_acc                38479 non-null  float64
 16  pub_rec                 38479 non-null  float64
 17  revol_bal               38476 non-null  float64
 18  revol_util              38421 non-null  object
 19  total_acc               38479 non-null  float64
 20  total_pymnt             38479 non-null  float64
 21  total_pymnt_inv         38479 non-null  float64
 22  total_rec_prncp         38479 non-null  float64
 23  total_rec_int           38479 non-null  float64
 24  last_pymnt_amnt         38479 non-null  float64
dtypes: datetime64[ns](1), float64(18), int32(1), object(5)
memory usage: 7.2+ MB

In [54]:
loan_dropped['emp_length'].unique()

array(['< 1 year', '4 years', '10+ years', nan, '3 years', '5 years',
       '7 years', '2 years', '1 year', '6 years', '9 years', '8 years'],
      dtype=object)

In [86]:
# loan_dropped['emp_length']=loan_dropped['emp_length'].str.split().str.get(0).str.replace('year','').str.replace('+','').str.replace('','')

emp_length_mapping = {
    '< 1 year': 0,
    '1 year': 1,
    '2 years': 2,
    '3 years': 3,
    '4 years': 4,
    '5 years': 5,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9,
    '10+ years': 10
}

# Use the mapping to replace the strings with integers
loan_dropped['emp_length'] = loan_dropped['emp_length'].replace(emp_length_mapping)

In [87]:
loan_dropped['emp_length'].value_counts()

10    8465
2     4292
3     3939
4     3314
1     3254
5     3171
6     2144
7     1702
8     1445
9     1196
Name: emp_length, dtype: int64

In [90]:
loan_dropped['emp_length']=loan_dropped['emp_length'].astype(int)

ValueError: cannot convert float NaN to integer

In [91]:
_\=

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38480 entries, 0 to 38479
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_amnt               38479 non-null  float64
 1   funded_amnt             38479 non-null  float64
 2   term                    38480 non-null  int32
 3   int_rate                38480 non-null  float64
 4   installment             38479 non-null  float64
 5   emp_length              32922 non-null  object
 6   home_ownership          38480 non-null  object
 7   annual_inc              38478 non-null  float64
 8   loan_status             38480 non-null  object
 9   purpose                 38480 non-null  object
 10  dti                     38480 non-null  float64
 11  delinq_2yrs             38479 non-null  float64
 12  earliest_cr_line        38480 non-null  datetime64[ns]
 13  inq_last_6mths          38479 non-null  float64
 14  mths_since_last_delinq  14117 non-null  float64
 15  open_acc                38479 non-null  float64
 16  pub_rec                 38479 non-null  float64
 17  revol_bal               38476 non-null  float64
 18  revol_util              38421 non-null  object
 19  total_acc               38479 non-null  float64
 20  total_pymnt             38479 non-null  float64
 21  total_pymnt_inv         38479 non-null  float64
 22  total_rec_prncp         38479 non-null  float64
 23  total_rec_int           38479 non-null  float64
 24  last_pymnt_amnt         38479 non-null  float64
dtypes: datetime64[ns](1), float64(18), int32(1), object(5)
memory usage: 7.2+ MB